body {
    font-family: "AmaticSC";
    background-color: rgba(244, 244, 240, 1);
}

.container {
    margin: auto auto;
    padding: 0 35px;
    width: 1440px;
}

@font-face {
    font-family: "AmaticSC";
    src: url("../fonts/AmaticSC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PoiretOne";
    src: url("../fonts/PoiretOne.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
